@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: white;
}

.card {
  --tw-gradient-from: rgba(125, 125, 125, 0.1);
  --tw-gradient-to: rgba(82, 82, 82, 0.022);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  box-shadow: 0px 0px 11.9px -1px rgba(255, 255, 255, 0.11);
  border-radius: 6px;
  border-color: rgba(255, 255, 255, 0.125);
  border-width: 1px;
}

@layer components {
  .subheading {
    @apply md:text-4xl text-2xl font-semibold uppercase mb-5;
  }

  .text {
    @apply md:text-[1.5rem] text-xl font-light leading-9;
  }
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}