@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-color: #15224d;
}

body {
  color: white;
  background: #15224d;
  overflow: auto !important;
  font-family: sans-serif !important;
}

.parallax-container {
  overflow: auto !important;
  height: max-content;
  height: 260vh !important;
}

@media screen and (min-width: 500px) {
  .parallax-container {
    height: 280vh !important;
  }
}

@media screen and (min-width: 600px) {
  .parallax-container {
    height: 240vh !important;
  }
}

@media screen and (min-width: 750px) {
  .parallax-container {
    height: 190vh !important;
  }
}

@media screen and (min-width: 800px) {
  .parallax-container {
    height: 170vh !important;
  }
}

@media screen and (min-width: 1000px) {
  .parallax-container {
    height: 160vh !important;
  }
}

@media screen and (min-width: 1200px) {
  .parallax-container {
    height: 130vh !important;
  }
}

@media screen and (min-width: 1508px) {
  .parallax-container {
    height: 120vh !important;
  }
}
