@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: rgb(102, 102, 102);
  background-color: white;
  scroll-behavior: smooth;
}

.background-container {
  position: relative; /* Ensures child elements can be positioned absolutely */
  width: 100%;
  height: 100vh; /* Adjust based on the desired size */
  overflow: hidden; /* Prevent grid overflow if necessary */
  color: white;
  background-color: #1E2D5A;
}

.card {
  --tw-gradient-from: rgba(125, 125, 125, 0.1);
  --tw-gradient-to: rgba(82, 82, 82, 0.022);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  box-shadow: 0px 0px 11.9px -1px rgba(255, 255, 255, 0.11);
  border-radius: 6px;
  border-color: rgba(255, 255, 255, 0.125);
  border-width: 1px;
}

@layer components {
  .subheading {
    @apply md:text-4xl text-2xl font-semibold uppercase mb-5;
  }

  .text {
    @apply md:text-[1.5rem] text-xl font-light leading-9;
  }
}

.menu-gradient {
  background: linear-gradient(252.19deg, #485C98 8.78%, #7387C3 81.87%);
}

.text-gradient {
  background: linear-gradient(82.83deg, #FFBD12 -43.67%, #ED9862 27.24%, #D970B7 102.33%);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 800;
  animation: animate-text-gradient 5s ease infinite alternate;

}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: var(--fade-duration, 1s); /* Default to 1s */
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: var(--fade-delay, 0s); /* Default to 0s */
}

.hero-text-fadein>div:nth-of-type(1) {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}

.hero-text-fadein>div:nth-of-type(2) {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
}

.hero-text-fadein>div:nth-of-type(3) {
  opacity: 0;
  animation: fadeIn 1s cubic-bezier(0, 0.97, 0.78, 0.99) forwards 2.5s;
}

.hero-text-fadein>div:nth-of-type(4) {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 4s;
}


.menu-animate {
  clip-path: circle(0% at calc(100% - 2rem) 2rem);
  transition: clip-path 0.5s ease-in-out;
}

.menu-animate-active {
  clip-path: circle(200% at calc(100% - 2rem) 2rem);
}

@keyframes animate-text-gradient {
  0% {
    background-position: 0% 100%;
  }

  100% {
    background-position: 100% 0%;
  }

}

@keyframes subtle-bounce-point {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0);
  }

}

@keyframes fadeIn {

  /* fade in from bottom and increase opacity */
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}